/* src/index.css or your global CSS file */
.footer {
    background-color: #8AAEC6;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;         /* Reduced padding */
    height: 40px;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
  }
 
  
  .footer .about {
    margin-right: 30px; /* Adjust the spacing as needed */
    text-decoration: underline;
  }

  .footer .privacy {
    margin-right: 30px; /* Adjust the spacing as needed */
    text-decoration: underline;
  }
  