/* src/index.css or your global CSS file */
.footer {
    width: 100vw; /* Viewport width to cover the screen */
    margin: 0; /* Remove any margins */
    padding: 5px 0; /* Adjust as needed */
    background-color: #8AAEC6;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure it isn’t affected by other positioning */
}
 
  
  .footer .about {
    margin-right: 30px; /* Adjust the spacing as needed */
    text-decoration: underline;
  }

  .footer .privacy {
    margin-right: 30px; /* Adjust the spacing as needed */
    text-decoration: underline;
  }
  