/* src/index.css or your global CSS file */

/* Footer.css */
.footer {
  background-color: #8AAEC6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 5px, 0;
  margin-top: 3%;
  flex-shrink: 0;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  position:sticky;
  bottom: 0;
}

.footer .about,
.footer .privacy {
  margin-right: 30px;
}
