/* src/CSSFolders/Header.css */
/* Header.css */
.header {
    background-color: #E2EAF1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header-logo {
    max-height: 70px;         /* Set a maximum height for the logo */
    max-width: 100%;          /* Ensure it scales proportionally */
}
