/* Basic header and navbar styles */
.header {
    display: flex;
    width: 100%;
    padding: 1px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for a dropdown effect */
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0px 20px; /*Adjust the padding based on your design for left and right spacing*/
  }
  
  .header-logo {
    height: 60px;
    
  }
  
  /* Basic navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-burger {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .navbar-menu {
    display: none;
  }
  
  /* Navbar menu when active (dropdown) */
.navbar-menu.is-active {
    display: flex;
    flex-direction: column;          /* Align items vertically */
    align-items: stretch;            /* Stretch the items to fill the container width */
    position: absolute;
    top: 50px;                       /* Adjust this value based on your header size */
    right: 0px;                     /* Add some spacing from the left edge */
    background-color: white;
    width: 250px;                    /* Fixed width for the menu */
    z-index: 999;
    height: auto;                    /* Height will automatically adjust to the content */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for a dropdown effect */
  }
  
  /* Navbar items inside the dropdown menu */
  .navbar-item {
    display: flex;             /* Enables flexbox */
    align-items: center;       /* Vertically centers the text and icon */
    margin: 10px 15px;         /* Add some spacing between items */
    color: black;
    text-decoration: none;
    padding: 10px 0;         
    transition: background-color 0.2s; 
  }
  
  .navbar-item:hover {
    background-color: #f0f0f0; 
  }
    .navbar-item:not(:last-child) {
    border-bottom: 1px #8AAEC6  solid ; 
  }
  
  .navbar-item i {
    margin-right: 10px; 
  }
    .navbar-item i:hover {
    color: #007bff; 
  }
  .navAndLogOut{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    align-items: center; /* Vertically center the elements inside */
    margin-right: 20px;
  }

  /* Logout button adjustments */
  .logOutButton {
    background-color: #1059a2;
    color: "white";
    border-radius: 8px;
    padding: 3px 80px;
    cursor: pointer;
    margin-left: auto;
    
  }
  