/* src/CSSFolders/Header.css */
.header {
    background-color: #E2EAF1; /* Light background color */
    display: flex;    
              /* Use flexbox for layout */
    align-items: center;       /* Center items vertically */
    justify-content: space-between; /* Space between items */
    padding: 5px 0px;         /* Reduced padding */
    height: 40px;
    width: 100%;                 /* Ensures full width */
}

.header-logo {
    max-height: 70px;         /* Set a maximum height for the logo */
    max-width: 100%;          /* Ensure it scales proportionally */
}
