/* src/components/Header.css or your specific CSS file */
.titleContainer div {
    padding-top: 100px;         /* Apply 60px padding to the top */
    font-weight: bold;          /* Make the text bold */
    font-size: 24px;           /* Adjust font size as needed */
    color: #2c3e50;            /* Optional: text color */
}

.inputContainer input {
    padding: 5px 2px; 
    border-bottom: 1px solid #2c3e50;  /* Bottom border only */
    font-size: 20px;
    margin-left: 2px;
    width: 300px;   
    opacity: 0.8;
    outline: none; 
}

.inputContainer label {
    position: absolute;
    top: 0;
    left: 0;
    color: #2c3e50;
    font-size: 16px;
    pointer-events: none;             /* Makes label unclickable */
    transition: 0.2s ease all;        /* Smooth transition */
  }
  .inputButton {
    padding: 10px 2px;
    border-radius: 20px;
    background-color: #8AAEC6;
    cursor: pointer;
    width:300px;
  }
  
 .forgotPasswordText {
  text-decoration: underline;
  color: #2c3e50;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 0; /* Aligns with left edge of container */
}

  .clickableRegister{
    text-decoration: underline;  /* Adds the underline */
  }
  .googleSignInText {
    display: flex;
    align-items: center;
    color: #2c3e50;      /* Customize the text color */
    font-size: 16px;     /* Adjust font size as needed */
    cursor: pointer;
  }
  
.googleSignInText::before,
.googleSignInText::after {
  content: "";               /* Empty content to render the line */
  flex: 1;                   /* Makes the lines flexible to fill space */
  height: 1px;               /* Line thickness */
  background-color: #8AAEC6; /* Line color */
  margin: 0 10px;            /* Space between the line and text */
}
.google-logo {
    max-height: 30px;          /* Set a maximum height for the logo */
    max-width: 100%;           /* Ensure it scales proportionally */
}
