/* src/components/Header.css or your specific CSS file */

.titleContainer div {
    padding-top: 100px;         /* Apply 60px padding to the top */
    font-weight: bold;          /* Make the text bold */
    font-size: 24px;            /* Adjust font size as needed */
    color: #2c3e50;             /* Optional: text color */
}
/* Centering the form on the page */

.loginForm{
    background: #ffffff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.loginFormHeading{
    font-size: 50px;
    margin-bottom: 15px;
    color: #333;
}
.inputContainer {
    display: flex;
    flex-direction: column; 
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #101418;  
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputBox {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
}

.icon {
    position: absolute;
    right: 10px; /* Adjust the position as needed */
    font-size: 20px; /* Adjust as needed */
    color: #101418; /* Match the color */
}



.loginForm input {
    width: 100%; /* Full width */
    padding: 10px;/* Space inside the input/button */
    margin: 18px 0; /* Space between elements */
    border: none;
    border-bottom: 2px solid #8aadd2;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
    color: #101418; 
}
.errorLabel {
    color: red;
    font-size: 12px; /* Adjust the size as needed */
    margin-top: 4px;
    display: block; /* Ensures the label is on a new line */
    transition: 0.2s ease all;
}

.inputButton {
    padding: 10px 1px;
    border-radius: 20px;
    background-color: #8AAEC6;
    cursor: pointer;
    width: 300px;
    font-size: 16px;
}


.forgotPasswordText {
    text-decoration: underline;
    color: #2c3e50;
    font-size: 20px;
    margin-top: 0px;         /* Adjust to reduce space */
    margin-bottom: 0px;        /* Remove extra space below */
    text-align: right;            /* Align text to the left */
}

.inputButtonContainer {
    margin-top: 0px;         /* Adjust to reduce space */
    display: flex;
    justify-content: center; /* Center-align the button */
}

.clickableRegister {
    text-decoration: underline;  /* Adds the underline */
}

.googleSignInText {
    display: flex;
    flex-direction: row;
}

.googleSignInText::before,
.googleSignInText::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: #8AAEC6;

}
.googleSignInText::before{
    margin-right: 10px;
}
.googleSignInText::after{
    margin-left: 10px;
}
.google-logo {
    max-height: 30px;          /* Set a maximum height for the logo */
    max-width: 100%;           /* Ensure it scales proportionally */
}
