/* Register.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}



.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; 
    align-items: center;
}
.errorLabel{
    color: red;
    font-size: 12px;
}
.register-form {
    flex: 1;
    background: #ffffff;
    padding: 10px 20px; 
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: '100vh'
}

.register-form .heading {
    font-size: 32px;
    margin-bottom: 0px;
    color: #333;
}

.register-form .caption {
    font-size: 24px;
    font-weight: 60;
    margin-bottom: 10px;
}

.input-label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 13px;
    color: #101418;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #8aadd2;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    color: #101418;
}

.inputButton {
    padding: 10px 1px;
    border-radius: 20px;
    background-color: #8AAEC6;
    cursor: pointer;
    width: 200px;
    font-size: 40px;
    margin: 10px auto;
}

.googleSignInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Control the width of the container */
    margin: 15px auto; /* Center the container and add some vertical spacing */
}

.googleSignInText {
    display: flex;
    align-items: center;
    width: 100%; /* Make sure the text container takes full width */
    color: #8AAEC6;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alreadyHaveAnAccount {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 5px; /* Adds space between text and "Sign in" */
    color: #8AAEC6;
    font-size: 18px;
    flex-direction: column;
    display: inline;

}


.googleSignInText::before,
.googleSignInText::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #8AAEC6;
}

.googleSignInText::before {
    margin-right: 15px;
}

.googleSignInText::after {
    margin-left: 15px;
}

.google-logo {
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.google-logo:hover {
    transform: scale(1.05);
}


/* Responsive styles */
@media (max-height: 600px) {
    .register-form {
        margin: 5px auto;
        padding: 10px;
    }
    
    .register-form .heading {
        font-size: 24px;
        margin-bottom: 5px;
    }
    
    .register-form .caption {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .input-label {
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .register-form input {
        padding: 6px;
        margin: 4px 0;
    }
}