.task-title {
    font-size: 2rem;
    font-weight: bold;
    color: #1059a2;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-left: 20px;
  }

.sort-icon {
  color: #1059a2;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 3px;
  cursor: pointer;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  margin-right: 10px; 
  font-size: 1rem;
  color: #1059a2;
  cursor: pointer;
}
.icon-text:focus{
  color: #05305c;

}

.filterbar {
  position: relative; 
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #1059a2;
}

.filterbar .filter-brand {
  color: #1059a2;
  font-size: 0.5rem;
  margin-right: 20px;
}

.filterbar .filterbar-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: relative; 
  color: #1059a2; 
  padding: 10px;
}
.filterbar .filterbar-icon i {
  margin-right: 10px; 
}


.filterbar .filterbar-menu {
  display: none;
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: white;
  width: 200px;
  z-index: 999;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filterbar .filterbar-menu.is-active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.filterbar .filterbar-item {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  border-bottom: 1px solid #8AAEC6; 
  color: black;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.2s;
}

.filterbar .filterbar-item.selected {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  border-bottom: 1px solid #8AAEC6; 
  color: black;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.2s;
  background-color: #dcdcdc; 
  font-weight: bold;
}
.filterbar .filterbar-item:hover {
  background-color: #f0f0f0;
}
.filterbar .filter-item:not(:last-child) {
  border-bottom: 1px solid #8AAEC6 ;
}
